::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(212, 134, 31);
}

::-webkit-scrollbar-track {
    background: rgba(155, 155, 155, 0.6);
}